<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All products</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>ID   </td>
        <td>NAME    </td>
        <td>PRICE   </td>
        <td>QUANTITY   </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div th:each="product : ${products}">
                <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getId()}">id</a>
            </div>
        </td>
        <td>
            <div th:each="product : ${products}">
                <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getProductName()}">productName</a>
            </div>

        </td>
        <td><div th:each="product : ${products}">
            <a th:text="${product.getProductPrice()}">productPrice</a>
        </div>
        </td>
        <td><div th:each="product : ${products}">
            <a th:text="${product.getProductQuantity()}">productQuantity</a>
        </div>
        </td>
    </tr>

    </tbody>


</table>

<!--
<div th:each="product : ${products}">
    <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getProductName()}">user</a>
</div>

-->


</body>
</html>